<div class="pageheader">
	<h1>{{title}}</h1>
</div>
<p class="lead">Turn an LED on and off.</p>
<div>
	<button id="onoff" class="btn btn-default"></button>
</div>
<div>
	<span class="btn btn-primary">Connections: <span id="users" class="badge"></span></span>
</div>

<script type="text/javascript" src="/javascripts/led.js"></script>